<section class="container h-100">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-75" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <!-- Name input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <%= f.label :name, class: "form-label", for: "form1Example0" %>
        <%= f.text_field :name, id: "form1Example0", class: "form-control", autofocus: true, autocomplete: "name", required: true %>
      </div>
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <%= f.label :email, class: "form-label", for: "form1Example1" %>
        <%= f.email_field :email, id: "form1Example1", class: "form-control", autofocus: true, autocomplete: "email", required: true %>
      </div>
      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <%= f.label :password, class: "form-label", for: "form1Example2" %>
        <%= f.password_field :password, id: "form1Example2", class: "form-control", autocomplete: "new-password", required: true %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <!-- Password confirmation input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <%= f.label :password_confirmation, class: "form-label", for: "form1Example4" %>
        <%= f.password_field :password_confirmation, id: "form1Example4", class: "form-control", autocomplete: "new-password", required: true %>
      </div>
      <!-- Custom partial rendering -->
      <%= render partial: "timezone", locals: { f: f, class_name: "d-none" } %>
      <!-- Submit button -->
      <%= f.submit "Sign up", class: "btn btn-primary btn-block", data: { mdb_ripple_init: true } %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</section>