<%= form_with(model: time_to_eat, url: medicine_time_to_eats_path(@medicine_id), local: true, id: "#{dom_id(time_to_eat)}_form") do |form| %>
  <% if time_to_eat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(time_to_eat.errors.count, "error") %> prohibited this time_to_eat from being saved:</h2>
      <ul>
        <% time_to_eat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :time_to_eat, style: "display: block" %>
    <%= form.time_field :time_to_eat %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
