<div id="<%= dom_id start_end_medicine %>">
  <p>
    <strong>Start date:</strong>
    <%= start_end_medicine.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= start_end_medicine.end_date %>
  </p>

  <p>
    <strong>Everyday:</strong>
    <%= start_end_medicine.everyday %>
  </p>

  <p>
    <strong>Medicine:</strong>
    <%= start_end_medicine.medicine_id %>
  </p>

</div>
